.Game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
body {background-color: black;}
.Game input {
    background-color: crimson;
    border-radius: 8px;
    color: white;
    text-align: center;
    width: 145px;
    height: 145px;
    font-size: 85px;
    font-weight: bold;
}

.Game button {
    background-color: crimson;
    border: none;
    color: white;
    padding: 16px 32px; 
    padding: 16px 24px; 
    font-size: 20px;
    font-weight: bold;
    margin: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 1150px; 
    width: 135px; 
    
}

.Game h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    color: white;
    background-color: crimson;
    border-radius: 8px;
    border-color: black;
    border: 10px;
}

/* Animación de parpadeo */
.flickering {
    animation-name: flicker;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-iteration-count: 0s;
  
    -webkit-animation-name:flicker;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3s;
  }
  
  /* La propiedad CSS -moz- utiliza en Gecko (Firefox)  */
  @-moz-keyframes flicker{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  /* sólo está disponible en navegadores basados en  WebKit como safari */
  @-webkit-keyframes flicker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes flicker {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}